.navbar {
    border-bottom: 1px solid;
}
.companyCard {
    width: 250px;
    height: 300px;
}
.companyCardHeader {
    border-bottom: 6px solid #04844b;
    height: 70px;
    background: #fff;
    cursor: pointer;
}
.font-lg {
    font-size: 16px;
    line-height: 20px;
    color: #000;
}
.company {
    padding: 100px;
}
.hide {
    display: none;
}
.wid100 {
    width: 100%;
}

.col-md-6 > button {
    float: right;
}
.row {
    margin: 10px 0;
}